drf/
webscrape/__pycache__/urls.cpython-37.pyc
restapp/__pycache__/
webscrape/__pycache__/
webscrape/migrations/__pycache__/
.vscode/
restapp/envs/local.py
restapp/envs/__pycache__/
restapp/envs/local.py
restapp/rest-api.code-workspace
